UserInterfaceState.xcuserstate
xcschememanagement.plist
Breakpoints.xcbkptlist
WorkspaceSettings.xcsettings
libcore/SKCore.xcodeproj/project.xcworkspace/xcshareddata/SKCore.xccheckout
libcore/SKCore.xcodeproj/xcuserdata/pcole.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
